/* HEADER */
/* match is-dark theme for navbar-burger bc bulma doesn't by default */
@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: hsl(0, 0%, 21%);
    }
    .navbar-item {
        color: whitesmoke;
        text-align: center;
    }
    a.navbar-item:hover {
        background-color: #292929;
        color: whitesmoke;
    }
    .navbar-burger:hover {
        background-color: #292929;
    }
}


/* HERO BANNER */
/* Creates pseudo element that adds opacity to the background image only */
.hero {
    z-index: 1;
    position: relative;
    background-color: black;
}
.hero::after {
    background-image: url("../images/sitewide/banner.jpg");
    background-size: cover;
    background-position: center center; 
    opacity: .85;
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.is-hidden-mobile h1.title {
    font-size: 6rem;
}
.is-hidden-mobile h2.subtitle {
    font-size: 1.5rem;
}
.is-hidden-tablet h1.title {
    font-size: 4rem;
}
.is-hidden-tablet h2.subtitle {
    font-size: 1rem;
}
/* inherit text-is-white */
h1.title, h2.subtitle {
    color: inherit;
}


/* ABOUT */
#mytechstack .inner-tile {
    display: flex;
    align-items: center;
}
#mytechstack .fa {
    line-height: inherit;
}


/* PROJECTS */
/* large screen */
@media screen and (min-width: 768px) {
    #projects .tile.is-ancestor {
        display: flex;
        flex-wrap: wrap;
    }
    #projects .tile.is-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }
	#projects .tile img {
		border-radius: 6px;	
		opacity: .75;
		height: 100%;
		object-fit: cover;
		width: 100%;	
	}
	#projects .tile .box {
		padding: 0rem;
	}
	#projects .tile h3 {
		position: absolute;
 		top: 50%;
 		left: 50%;
		transform: translate(-50%, -50%);
		color: #000000;
        pointer-events: none;
	}
	#projects a img:hover, #projects a img:focus {
		opacity: .25;
	}
}
/* small screen */
@media screen and (max-width: 767px) {
	#projects .tile img {
		display: none;
	}
	#projects .tile.is-child {
		background-color: hsl(0, 0%, 21%);
	}
	#projects .tile.is-child:hover, #projects a .tile.is-child:focus {
		background-color: #292929;
	}
	#projects .tile h3 {
		color: whitesmoke;
	}
} 
#projects a.box:hover, #projects a.box:focus {
	box-shadow: 0 0 0 1px rgba(10,10,10,.1);
}
#projects .modal-card-body {
    border-radius: 0px 0px 6px 6px;
}
#projects .modal * {
    color: inherit;
}


/* BLOG */


/* CONNECT */
@media screen and (min-width: 768px) {
	#connect .image {
	    	width: 25vw;
    	}
	#connect .box {
		width: 75vw;
		margin: auto;
	}
	#connect .media-left {
		align-self: center;
	}
}
@media screen and (max-width: 767px) {
	#connect .media {
		justify-content: center;
		flex-wrap: wrap;
	}
	#connect .media-left {
		flex-grow: 1;
		flex-shrink: 1;
		margin-right: 0rem;
	}
	#connect .media-content {
		margin-top: 1rem;
	}
}
#connect img {
    border-radius: 3px;
}
#connect #socials a {
	margin: 1rem 0.5rem 2rem 0.5rem;
	color: inherit;
}
#connect #socials a:hover {
	color: #292929;
}
#connect .subtitle {
	margin-bottom: 0rem;
}
#connect .media-content li {
	margin: 0.25rem;
}
#connect .image {
	margin: 1rem;
}



/* FOOTER */
.footer {
    padding: 1.5rem 1.5rem 1.5rem;
    line-height: 1;
}
/* keep footer on bottom even if not enough content */
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.bodyContent {
    flex: 1;
}
