{% extends "base.html" %}

{% block title %}EstysDesu - Projects{% endblock title %}

{% block bodyContent %}
<!-- use modals from bulma? --> 

<section class="section" id="projects">
    <div class="container">
        <h2 class="title">Projects</h2>
        <div class="tile is-ancestor has-text-centered">

            <div class="tile is-parent is-3">
                <article class="tile is-child box project-tile">
                    Tevo Tarantula
                </article>
            </div>

            <div class="tile is-parent is-3">
                <article class="tile is-child box project-tile">
                    Opal Iced Coffee Maker
                </article>
            </div>

            <div class="tile is-parent is-3">
                <article class="tile is-child box project-tile">
                    MaxLand Cincy
                </article>
            </div>

            <div class="tile is-parent is-3">
                <article class="tile is-child box project-tile">
                    Drinkin' Bros Podcast Alexa Skill
                </article>
            </div>

        </div>
    </div>
</section>







{% endblock bodyContent %}
