/* HEADER */
/* match is-dark theme for navbar-burger bc bulma doesn't by default */
@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: hsl(0, 0%, 21%);
    }
    .navbar-item {
        color: whitesmoke;
        text-align: center;
    }
    a.navbar-item:hover {
        background-color: #292929;
        color: whitesmoke;
    }
    .navbar-burger:hover {
        background-color: #292929;
    }
}


/* HERO BANNER */
/* Creates pseudo element that adds opacity to the background image only */
.hero {
    z-index: 1;
    position: relative;
    background-color: black;
}
.hero::after {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center center; 
    opacity: .85;
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.is-hidden-mobile h1.title {
    font-size: 6rem;
}
.is-hidden-mobile h2.subtitle {
    font-size: 1.5rem;
}
.is-hidden-tablet h1.title {
    font-size: 4rem;
}
.is-hidden-tablet h2.subtitle {
    font-size: 1rem;
}
/* inherit text-is-white */
h1.title, h2.subtitle {
    color: inherit;
}


/* ABOUT */
#mytechstack .inner-tile {
    display: flex;
    align-items: center;
}
#mytechstack .fa {
    line-height: inherit;
}


/* PROJECTS */
.tevo {
    background-image: url("../images/tevo.jpg");
    background-size: cover;
    background-position: center center;  
}


/* CONNECT */
.contact-card .media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-card.box {
    max-width: 50%;
}
.contact-card img {
    width: 256px;
    border-radius: 3px;
}
.contact-card .media-content {
    width: 256px;
}
.nothing {
    width: 20vw;
    height: 20vw;
}


/* FOOTER */
.footer {
    padding: 1.5rem 1.5rem 1.5rem;
    line-height: 1;
}
/* keep footer on bottom even if not enough content */
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.bodyContent {
    flex: 1;
}
