{% extends "base.html" %}

{% block title %}EstysDesu - About{% endblock title %}

{% block bodyContent %}

<section class="section" id="intro">
    <div class="container">
    <h2 class="title">$ whoami</h2>
        <div class="content">
            <h3 class="subtitle">About</h3>
            <p>Soon to be Mechanical Engineer by university standards. I am often hacking, making, running (when I'm in shape), traveling (when I have money), and occasionally blogging. Currently, located in Kyoto, Japan on co-op. I will be graduating in May of 2020 from the University of Cincinnati with plans to pursue an occupation as a MechE (if you can help with this, feel free to <a href="{{ url_for("connect") }}">connect with me</a>).</p>
        </div>
        <div class="content">
                <h3 class="subtitle">EstysDesu Meaning</h3>
                <p>For about six months during college I took the oppurtunity to internship abroad in Japan. This experience has had a significant impact on my life and who I am today. <em>Estys desu (エステスです)</em> is Japanese for "I am Estys." Whereas, Estys is just a combination of my last and first names. I've adopted the Japanese meaning to symbolize that I am the accumulation of my life experiences.</p>
        </div>
    </div>
</section>


<section class="section" id="mytechstack">
    <div class="container">
        <h2 class="title">My Tech Stack</h2>
        <div class="content">
            <p>Learning shouldn't stop when you leave academia; I've made it my practice to continue the pursuit of knowledge even outside the classroom.</p>
        </div>
        <div class="content">
            <div class="tile is-ancestor">

                <div class="tile is-parent is-vertical is-4">
                    <article class="tile is-child">
                        <span class="inner-tile">
                            <div class="fa-stack fa-lg media-left">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                            </div>
                            <div>Python, Bash, MATLAB, HTML5, CSS3, Javascript</div>
                        </span>
                    </article>
                    <article class="tile is-child">
                        <span class="inner-tile">
                            <div class="fa-stack fa-lg media-left">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linux fa-stack-1x fa-inverse"></i>
                            </div>
                            <div>Ubuntu, Alpine, Amazon (CentOS), Raspian, MacOS</div>
                        </span>
                    </article>
                </div>

                <div class="tile is-parent is-vertical is-4">
                    <article class="tile is-child">
                        <span class="inner-tile">
                            <div class="fa-stack fa-lg media-left">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-connectdevelop fa-stack-1x fa-inverse"></i>
                            </div>
                            <div>RaspberryPi, Arduino, Amazon Alexa Skills</div>
                        </span>
                    </article>
                    <article class="tile is-child">
                        <span class="inner-tile">
                            <div class="fa-stack fa-lg media-left">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fab fa-aws fa-stack-1x fa-inverse"></i>
                            </div>
                            <div>AWS, Netlify, Github Pages</div>
                        </span>
                    </article>
                </div>

                <div class="tile is-parent is-vertical is-4">
                    <article class="tile is-child">
                        <span class="inner-tile">
                            <div class="fa-stack fa-lg media-left">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                            </div>
                            <div>Solidworks, Catia, Fusion360</div>
                        </span>
                    </article>
                    <article class="tile is-child">
                        <span class="inner-tile">
                            <div class="fa-stack fa-lg media-left">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fas fa-terminal fa-stack-1x fa-inverse"></i>
                            </div>
                            <div>Git, Docker, Vim, Jupyter</div>
                        </span>
                    </article>
                </div>

            </div>
            <div class="notification">
                <blockquote>"Develop a passion for learning. If you do, you will never cease to grow." <strong>-Anthony J. D'Angelo</strong></blockquote>
            </div>
        </div>
    </div>
</section>

{% endblock bodyContent %}
