{% extends "base.html" %}

{% block title %}EstysDesu - Connect{% endblock title %}
{% block bodyContent %}

<section class="section" id="connect">
    <div class="container">
        <h2 class="title">Connect</h2>
        <div class="box">
            <div class="media">
                <div class="media-left">
                    <figure class="image">
                        <img src="https://avatars2.githubusercontent.com/u/37026871?s=400&amp;u=683136db2b4ce73e13bb3b6ea059edd4bfd929be&amp;v=4">
                    </figure>
                </div>
		<div class="media-content">
			<h3 class="subtitle is-size-2 has-text-centered">Tyler Estes</h3>
			<div class="has-text-centered" id="socials">
				<a class="icon" href="https://github.com/estysdesu" target="_blank">
					<i class="fa-2x fab fa-github"></i>
				</a>
				<a class="icon" href="https://medium.com/@estysdesu" target="_blank">
					<i class="fa-2x fab fa-medium"></i>
				</a>
</span></div>
			<div>
				<ul>
					<li><strong>Occupation:</strong> Mechanical Engineering Student at the University of Cincinnati</li>
					<li><strong>Location:</strong> Cincinnati, OH</li>
					<li><strong>Email:</strong> <a href="mailto:estysdesu@gmail.com?subject=I found your site!">estysdesu@gmail.com</a></li>
					<li><strong>Resume:</strong> <a href="https://uc.box.com/s/casxrzsdrbkstya8yeckn8smjguc3sjh" target="_blank">Check here!</a></li>
				</ul>	
			</div>
		</div>
            </div>
        </div>
    </div>
</section>

{% endblock bodyContent %}
