{% extends "base.html" %}

{% block title %}EstysDesu - Connect{% endblock title %}
{% block bodyContent %}

<!--

                    <figure class="image">
                        <img src="https://avatars2.githubusercontent.com/u/37026871?s=400&amp;u=683136db2b4ce73e13bb3b6ea059edd4bfd929be&amp;v=4">
                    </figure>
-->



<section class="section" id="connect">
    <div class="container">
        <h2 class="title">Connect</h2>
        <div class="box">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="https://avatars2.githubusercontent.com/u/37026871?s=400&amp;u=683136db2b4ce73e13bb3b6ea059edd4bfd929be&amp;v=4">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock bodyContent %}
