{% extends "base.html" %}

{% block bodyContent%}
<section class="hero is-fullheight-with-navbar">
<div class="hero-body has-text-white has-text-centered">
    <div class="container is-hidden-mobile">
        <h1 class="title is-uppercase">Tyler Estes</h1>
        <h2 class="subtitle">Mechanical Engineer // Developer // Maker</h2>
    </div>
    <div class="container is-hidden-tablet">
        <h1 class="title is-uppercase">Tyler Estes</h1>
        <h2 class="subtitle">Mechanical Engineer // Developer // Maker</h2>
    </div>
</div>
</section>

{% endblock bodyContent %}

<!-- exclude the footer by calling it and passing empty which overwrites the default -->
{% block footer %}{% endblock footer %}
